<p id="notice"><%= notice %></p>

<p>
  <b>Commentor:</b>
  <%= @comment.commentor %>
</p>

<p>
  <b>Cleaniness:</b>
  <%= @comment.cleaniness %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Bathroom:</b>
  <%= @comment.bathroom %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
