<%= form_for(@bathroom) do |f| %>
  <% if @bathroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bathroom.errors.count, "error") %> prohibited this bathroom from being saved:</h2>

      <ul>
      <% @bathroom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :building %><br />
    <%= f.text_field :building %>
  </div>
  <div class="field">
    <%= f.label :floor %><br />
    <%= f.number_field :floor %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.check_box :gender %>
  </div>
  <div class="field">
    <%= f.label :cleanliness %><br />
    <%= f.number_field :cleanliness %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
