<%= form_for(@bathroom) do |f| %>
  <% if @bathroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bathroom.errors.count, "error") %> prohibited this bathroom from being saved:</h2>

      <ul>
      <% @bathroom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :building %><br />
    <%= f.text_field :building %>
  </div>
  <div class="field">
    <%= f.label :floor %><br />
    <%= f.number_field :floor %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.radio_button :gender, "male" %>
    <%= f.label :gender_male, "Male" %>
    <%= f.radio_button :gender, "female" %>
    <%= f.label :gender_female, "Female" %>
  </div>
  <div class="field">
    <%= f.label :cleanliness %>
    <%= f.radio_button :cleanliness, "1" %>
    <%= f.label :cleanliness_1, "Bad" %>
    <%= f.radio_button :cleanliness, "2" %>
    <%= f.label :cleanliness_2, "Average" %>
    <%= f.radio_button :cleanliness, "3" %>
    <%= f.label :cleanliness_3, "Good" %>
  </div>
  <div class="field"3
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
