<p id="notice"><%= notice %></p>

<p>
  <b>Building:</b>
  <%= @bathroom.building %>
</p>

<p>
  <b>Floor:</b>
  <%= @bathroom.floor %>
</p>

<p>
  <b>Gender:</b>
  <%= @bathroom.gender.to_s.capitalize %>
</p>

<p>
  <b>Cleanliness:</b>
  <%= @bathroom.cleanliness %>
</p>

<p>
  <b>Notes:</b>
  <%= @bathroom.notes %>
</p>

<h2>Comments</h2>
<% if @bathroom.comments.empty? %>
  <p>No comments found.</p>
<% end %>
<%= render @bathroom.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit', edit_bathroom_path(@bathroom) %> |
<%= link_to 'Back', bathrooms_path %>
